.container {
  display: flex; /* or inline-flex */
  flex-flow: column;
  background-image: radial-gradient(#99e7a3, #fff);
}

.header {
  padding: 10px;
  font-size: 2em;
  color: blueviolet;
  background-color: aqua;
}

.main {
  padding: 20px;
  flex-flow: column wrap;
}

.card {
  border: 1px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #fff;
  border-color: coral;
  border-style:  none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 5px 5px rgb(198, 198, 198);
}

.col {
  flex-flow: column wrap;
}

.row {
  flex-flow: row wrap;
}

.button {
  background-color: #470635; /* Green */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}